body {
  background-color: aquamarine;
  position: relative;
}
.wrapper {
  width:41%;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}
.slides {
  width: 400%;
  height: 100%;
  display: flex;
}

.slide {
  transition: ease-in-out 0.5s;
  width: 25%;
  position: relative;
}
 
.memesDesc {
  position: relative;
  top: calc(100% - 92px);
  z-index: 100;
  font-size: 16px;

}
.slide1 {
  width: 100%;
  height: 100%;
  background: no-repeat;
  background-image: url(img/before.jpeg);

  background-size: 100% 400px;
}
.slide2 {
  width: 100%;
  height: 100%;
  background: no-repeat;

  background-image: url(img/before1.jpeg);
  background-size: 75% 400px;
}
.slide3 {
  width: 100%;
  height: 100%;
  background: no-repeat;

  background-image: url(img/before2.jpeg);
  background-size: 50% 400px;
}
.slide4 {
  width: 100%;
  height: 100%;
  background: no-repeat;

  background-image: url(img/before3.jpeg);
  background-size: 25% 400px;
}

#point1:checked ~ .slides > .slide1 {
  margin-left: 0;
}
#point2:checked ~ .slides > .slide1 {
   margin-left: -33.4%; 
}
#point3:checked ~ .slides > .slide1 {
  margin-left: -100%;
}
#point4:checked ~ .slides > .slide1 {
  margin-left: -300%;
}
#point1:checked ~ .label1 {
  background-color: wheat;
}
#point2:checked ~ .label2 {
  background-color: wheat;
}
#point3:checked ~ .label3 {
  background-color: wheat;
}
#point4:checked ~ .label4 {
  background-color: wheat;
}


.radioBtn {
display: none;
}
.labels {
  
}
.label {
  cursor: pointer;
	display: inline-block;
	height: 11px;
  width: 11px;
	margin: 0px 3px 0 10px;
	position: relative;
  top: calc(100% - 66px);
  left: calc(100% - 105px);
	border-radius: 50%;
  z-index: 999;
  background-color: #4a28ea;
  
}
.label::after {
  cursor: pointer;
	border: 2px solid #4a28ea;
	content: " ";
	display: block;
	height: 12px;
  position: relative;
	width: 12px;
  position: relative;
  width: 12px;
  top: -24px;
	border-radius: 50%;
}
.label::before {
  content: '';
  cursor: pointer;
  height: 20px;
  width: 24px;
  display: inline-block;
    position: relative;
    top: -4px;
    left: -4px;
}

.label:hover {
  background: #fff;
}
.label:checked {
  /* background: red; */
}
@media (max-width:1200px) {
  .wrapper {
    width: 50%;
  }
}
@media (max-width:1000px) {
  .wrapper {
    width: 60%;
  }
}
@media (max-width:800px) {
  .wrapper {
    width: 70%;
  }
}
@media (max-width:700px) {
  .wrapper {
    width: 80%;
  }
}
@media (max-width:650px) {
  .wrapper {
    width: 95%;
    height: 400px;

  }
  .slide1 {
    background-size: 100% 300px;
  }
  .slide2 {
    background-size: 75% 300px;
  }
  .slide3 {
    background-size: 50% 300px;
  }
  .slide4 {
    background-size: 25% 300px;
  }
}
@media (max-width:420px) {
  .wrapper {
    width: 98%;

  }

}