body {
  background-color: aquamarine;
  position: relative;
}
.wrapper {
  width:600px;
  height: 500px;
  margin: 0 auto;
  margin-top: 100px;
  overflow: hidden;
}
.slides {
  width: 400%;
  height: 100%;
  /*margin: 0 auto;*/
  display: flex;
    /* box-shadow: 0px 10px 10px 20px #00FF7F; */

}

.slide {
  transition: 0.3s;
  width: 25%;
  /* border-radius: 30px; */

}
 
.memesDesc {
  position: relative;
  top: 400px;
  z-index: 100;
}
.slide1 {
  width: 100%;
  height: 100%;
  background: no-repeat;
  background-image: url(img/before.jpeg);

  background-size: 600px 400px;
}
.slide2 {
  width: 100%;
  height: 100%;
  background: no-repeat;

  background-image: url(img/before1.jpeg);
  background-size: 600px 400px;
}
.slide3 {
  width: 100%;
  height: 100%;
  background: no-repeat;

  background-image: url(img/before2.jpeg);
  background-size: 600px 400px;
}
.slide4 {
  width: 100%;
  height: 100%;
  background: no-repeat;

  background-image: url(img/before3.jpeg);
  background-size: 600px 400px;
}

#point1:checked ~ .slides > .slide1 {
  margin-left: 0;
}
#point2:checked ~ .slides > .slide1 {
   margin-left: -33.4%; 
}
#point3:checked ~ .slides > .slide1 {
  margin-left: -100%;
}
#point4:checked ~ .slides > .slide1 {
  margin-left: -300%;
}
#point1:checked ~ .label1 {
  background-color: wheat;
}
#point2:checked ~ .label2 {
  background-color: wheat;
}
#point3:checked ~ .label3 {
  background-color: wheat;
}
#point4:checked ~ .label4 {
  background-color: wheat;
}


.radioBtn {
display: none;
margin-top: 50px;
position: relative;
top: calc(100% - 80px);
left: calc(100% - 65px);
z-index: 999;
cursor: pointer;
}
.labels {
  
}
.label {
  cursor: pointer;
	display: inline-block;
	height: 11px;
	margin: 0px 3px 0 10px;
	position: relative;
  top: calc(100% - 80px);
  left: calc(100% - 110px);
	border-radius: 50%;
  z-index: 999;
  background-color: #4a28ea;
  
}
.label::after {
  cursor: pointer;
	border: 2px solid #4a28ea;
	content: " ";
	display: block;
	height: 12px;
  position: relative;
	width: 12px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

.label:hover {
  background: #fff;
}
.label:checked {
  /* background: red; */
}