body {
  background-color: aquamarine;
  position: relative;
}

.slide {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 200px;
}

.slide1 {
  background-image: url(img/before.jpeg);
  background-size: 600px 400px;
}

